<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/dashboard-traply.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
   <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
    <section id="header">                      
                        <img src="/Images/Elan.png" alt="">               
    </section>
    <section id="slide-bar">
      <a href="/dashboard">
      <div class="special">
                        <span><img src="/Images/menu-black.png" alt=""></span>
                        <span><p>Dashboard</p></span>
      </div>
      </a>
      <a href="/profile">
      <div class="profile">
                        <span><img src="/Images/Account-black.png" alt=""></span>
                        <span><p>Profile</p></span>
      </div>
      </a>
      <a href="/notification">
        <div class="notficiation">
                          <span><img src="/Images/Notification-Black.png" alt=""></span>
                          <span><p>Notification</p></span>
                          </div>
                          </a>
                          <a href="/work">
                            <div class="work">
                              <span><img src="/Images/Work-black.png" alt="" /></span>
                              <span><p>Work</p></span>
                            </div>
                          </a>
                  
                          <a href="/post">
                            <div class="post">
                              <span><img src="/Images/Add-post-black.png" alt="" /></span>
                              <span><p>Post</p></span>
                            </div>
                          </a>
                          <a href="/Monami">
                            <div class="monami">
                              <span><img src="/Images/monami.png" alt="" /></span>
                              <span><p>Monami</p></span>
                            </div>
                          </a>
    </section>
    <section id="body">
   
    <section id="posts">
    <% populatedPostData.forEach(post => { %>
      <section id="post">
        <section id="upper">
          <section id="left">
            <div class="account"></div>
            <div class="time">
              <span><span><%= post.userId?.name || 'Unknown User' %></span>
            </span>
            <span><%= post.timeago || 'N/A' %></span>

            </div>
          </section>
      
        </section>
        <section id="down">
          <section id="text">
            <p><%= post.message %></p>
          </section>
          <section id="engagements">
            <div class="like">
              <form action="/dashboard/<%= post._id%>/like" method="post">
              <button type="submit" id="like">
                       <img src="/Images/like.png" alt="">
                
              </button>
            </form>
            <span><%= post.like%></span>
            </div>
            <div class="dislike">
              <form action="/dashboard/<%= post._id%>/dislike" method="post">
              <button type="submit" id="like">
                <img src="/Images/dislike.png" alt="">
              </button>
              </form>
              <span> <%= post.dislike%></span>
            </div>
            <div class="share">
              <input type="text" readonly value="http://localhost:<%= PORT%>/dashboard/<%=post._id%>/">
            </div>
            <div class="comment">
                   <form action="/dashboard<%= post._id%>/comment" method="post">
                <input name="text" id="text">
                
               </form>
            </div>
           
          </section>
        </section>
      </section>
    <% }) %>
    </section>
                        </section>
    </section>
    </section>
    <script src="/js/loading2.js"></script>
    </body>
</html>
