<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/dashboard-traply.css">
    <link rel="stylesheet" href="/CSS/profile-traply.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
   
    <header>
    <section id="slide-bar">
      <section id="logo">
        <a href="/dashboard">
          <img src="/Images/Ciphry_logo.png" alt="">   
         </a>
      </section>
       <section id="icons">
        <a href="/dashboard">
          <div class="dashboard">
            <img src="/Images/home.png" alt="">
          </div>
          </a>
          <a href="/profile">
          <div class="special">
            <img src="/Images/Account-black.png" alt="">
          </div>
          </a>
      
                              <a href="/work">
                                <div class="work">
                                  <img src="/Images/Work-black.png" alt="" />
                                </div>
                              </a>
                      
                              <a href="/post">
                                <div class="post">
                                  <img src="/Images/Add-post-black.png" alt="" />
                                </div>
                              </a>
                              <a href="/Monami">
                                <div class="monami">
                                  <img src="/Images/monami.png" alt="" />
                                </div>
                              </a>
       </section>
     
    </section>
  </header>
    <section id="body">
   
     <section id="profile">
                        <section id="profile-details">
                        <div class="profilepic"></div>
                        <div class="engagements">
                        <h1><%= user.name%></h1>
                        <div class="engagments">
                      
                        <span>
                          <form action="/signout" method="post" id="signout">
                            <button>Sign out</button></a>
                          </form>
                          
                        </span>
                        </div>
                      
                        </div>
                        </div>
                      

                        </section>
                        <hr>
                          <%posts.forEach(post=>{%>
                            <section id="post">
                              <section id="upper">
                                <section id="left">
                                  <div class="account"></div>
                                  <div class="time">
                                    <span><span><%= user?.name || 'Unknown User' %></span>
                                  </span>
                                  <span><%= post.timeago || 'N/A' %></span>
                      
                                  </div>
                                </section>
                            
                              </section>
                              <section id="down">
                                <section id="text">
                                  <p><%= post.message %></p>
                                </section>
                                <section id="engagements">
                                  <div class="like">
                                    <form action="/dashboard/<%= post._id%>/like" method="post">
                                    <button type="submit" id="like">
                                             <img src="/Images/like.png" alt="">
                                      
                                    </button>
                                  </form>
                                  <span><%= post.like%></span>
                                  </div>
                                  <div class="dislike">
                                    <form action="/dashboard/<%= post._id%>/dislike" method="post">
                                    <button type="submit" id="like">
                                      <img src="/Images/dislike.png" alt="">
                                      
                                    </button>
                                    </form>
                                 <div class="span">
                                  <span> <%= post.dislike%></span>
                                 </div>
                                  </div>
                                  <div class="share">
                                    
                                    <button type="submit" id="share-btn-<%= post._id %>" class="share-btn">
                                    <img src="/Images/share.png" alt="" > 
                                    </button>
                                  
                                    </div>
                                    <section id="share-popup-<%= post._id %>" class="share-popup">
                                      <section id="share-popup-content">
                                        <span id="close-popup-<%= post._id %>" class="close-btn">&times;</span>
                      
                                        <h1>Share this file</h1>
                                        <input type="text" readonly value="http://localhost:<%= PORT%>/dashboard/<%=post._id%>/">
                                      </section>
                                    </section>
                                  
                                  <div class="comment">
                                    <a href="/comment/<%=post._id%>">
                                    <button id="comment-<%=post._id%>" class="comment-btn">
                                      <img src="/Images/comment.png" alt="">         
                                    </button>           
                                  </a>   
                                  </div>
                                  
                              
                                </section>
                              </section>
                            </section>
                          <%})%>
                        

     </section>
        </section>
      </section>

    </section>
                        </section>
    </section>
    </section>
    <script src="/js/loading2.js"></script>
    </body>
</html>
